body{
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-family: monospace,cursive;
  background-image: url("https://media.istockphoto.com/vectors/celebrate-navratri-festival-design-vector-vector-id1051632574?k=20&m=1051632574&s=612x612&w=0&h=wQiKxxA0HUm-jSB_0gsyuOmuuTdIEvbwe7KFuEahKpQ=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  text-align: center;
  }
.under-container{
  padding-left: 700px;
  padding-top: 50px;
  text-align: center;
}
.line1{
  font-size: 40px;
  font-family: Copperplate, Papyrus, fantasy;
  color: #4C3A51;
}
.line2{
  font-size: 60px;
  color: #06283D;
  font-family: 'Brush Script MT', cursive;
}
p{
  font-size: 30px;
  color: #FCF8E8;
  font-family: monospace;
  text-align: center;
}
/*.button{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}*/
.call{
  text-align: center;
  padding-left: 700px;
  padding-top: 15px;
  font-family: Tahoma, sans-serif;
  font-size: 15px;
}
.enquiry{
  text-align: center;
  padding-left: 700px;
  padding-top: 15px;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
.upper{
  border-radius: 5px;
  background-image: url("https://cutewallpaper.org/21/hd-website-backgrounds/High-Resolution-Hd-Website-Background-Hd-Wallpapers-.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}
.under{
  font-family: cursive;
  text-align: center;
  padding-top: 200px;
}
input[type=text]{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #6FC;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email]{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.add{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
